.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.bg-body-tertiary {
  background-color: #333; /* Substitua pela cor desejada */
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.h1 {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.logo_athenas {
  width: 150px;
}
